<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/lrDL7pbI1vNtQ4I49bgyAR8tph1h9YfuUzig60aG/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div class="product-area product-area--restrict-width product-area--one-col">
	<div id='yotpo-testimonials-custom-tab'></div>
</div>

{% schema %}
  {
  "name": "Custom Review Section",
  "class": "section-text-columns-with-images",
  "settings": [],
  "presets": [
    {
      "name": "Custom Review Section",
      "category": "Text",
      "settings": {
      }
    }
  ]
}
{% endschema %}

